<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Evaluacion Individual Django {% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static'css/estilos.css' %}">
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'inicio' %}">Inicio</a>
            <a href="{% url 'acerca' %}">Acerca de</a>
            <a href="{% url 'contacto' %}">Contacto</a>
        </nav>
    </header>   
    <main>
        {% block content %}{% end block %}
    </main>

    {% include 'paginas/footer.html' %}

</body>
</html>